/* NavigationBar.css */
.navbar {
    padding: 10px;
    background-color: #242323; /* Dark grey background color */
    border-bottom: 2px solid #333; /* Dark border */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links, .auth-links {
    display: flex;
    gap: 15px; /* Add spacing between links */
}

.nav-link, .auth-link {
    color: #ffffff; /* White text color */
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover, .auth-link:hover {
    background-color: #616161; /* Slightly lighter grey background on hover */
}

.nav-link:active, .auth-link:active {
    background-color: #333333; /* Darker grey background when clicked */
}

/* Style button to match the links */
button.auth-link {
    color: #ffffff; /* Same text color as links */
    font-weight: 600;
    font-size: medium;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    border: none; /* Remove default button border */
    background: none; /* Match the background of the links */
    cursor: pointer; /* Add cursor style for interactivity */
    transition: background-color 0.3s ease;
    line-height: 1.5;
}

button.auth-link:hover {
    background-color: #616161; /* Match hover effect */
}

button.auth-link:active {
    background-color: #333333; /* Match active effect */
}
